.font-plaster {
    font-family: "Plaster", system-ui;
    font-weight: 400;
    font-style: normal;
}

.crimson-text-italic {
    font-family: "Crimson Text", serif;
    font-style: italic;
}

.crimson-text-regular {
    font-family: "Crimson Text", serif;
    font-style: normal;
}


.fs-1_3em {
    font-size: 1.3em;
}

.fs-5em {
    font-size: 5em;
}

.fs-6em {
    font-size: 6em;
}

.fs-8em {
    font-size: 8em;
}

.fs-10em {
    font-size: 10em;
}



.mt-0_3em-n {
    margin-top: -.3em;
}

.mt-0_4em-n {
    margin-top: -.4em;
}

.mt-1em-n {
    margin-top: -1em;
}

.mt-1_5em {
    margin-top: 1.7em;
}

.mt-10em {
    margin-top: 10em;
}



.mb-10em {
    margin-bottom: 10em;
}


.mx-10 {
    margin-left: 2em;
    margin-right: 2em;
}




.bg-red-blue-sm {
    background: linear-gradient(90deg, #ff0707 50%, rgba(214,62,156,1) 70%, rgba(20,124,240,1) 80%, #CB4787);
    color: transparent; 
    background-clip: text;
}

.bg-red-blue {
    background: linear-gradient(90deg, #ff0707 10%, rgba(214,62,156,1) 50%, rgba(20,124,240,1) 80%, #CB4787);
    color: transparent; 
    background-clip: text;
}

.bg-243 {
    background-color: rgb(243, 243, 243);
}

.bg-111 {
    background-color: #111111;
}




.w-30 {
    width: 30% !important;
}

.w-70 {
    width: 70% !important;
}


.img-alvo {
    width: 7em;
    height: auto;
}