.font-plaster {
    font-family: "Plaster", system-ui;
    font-weight: 400;
    font-style: normal;
}

.crimson-text-italic {
    font-family: "Crimson Text", serif;
    font-style: italic;
}

.crimson-text-regular {
    font-family: "Crimson Text", serif;
    font-style: normal;
}


.fs-1_3em {
    font-size: 1.3em;
}

.fs-2em {
    font-size: 2em;
}

.fs-5em {
    font-size: 5em;
}

.fs-6em {
    font-size: 6em;
}

.fs-8em {
    font-size: 8em;
}

.fs-10em {
    font-size: 10em;
}



.let_space-1px-n {
    letter-spacing: -1px;
}
.let_space-1_3px-n {
    letter-spacing: -1.3px;
}



.mt-0_3em-n {
    margin-top: -.3em;
}
.mt-0_4em-n {
    margin-top: -.4em;
}
.mt-1em-n {
    margin-top: -1em;
}
.mt-1_5em {
    margin-top: 1.7em;
}
.mt-9em {
    margin-top: 9em;
}
.mt-10em {
    margin-top: 10em;
}



.mb-10em {
    margin-bottom: 10em;
}
.mb-8em {
    margin-bottom: 8em;
}


.mr-1em {
    margin-right: 1em;
}


.mx-10 {
    margin-left: 2em;
    margin-right: 2em;
}




.bg-red-blue-sm {
    background: linear-gradient(90deg, #ff0707 50%, rgba(214,62,156,1) 70%, rgba(20,124,240,1) 80%, #CB4787);
    color: transparent; 
    background-clip: text;
}

.bg-red-blue {
    background: linear-gradient(90deg, #ff0707 10%, rgba(214,62,156,1) 50%, rgba(20,124,240,1) 80%, #CB4787);
    color: transparent; 
    background-clip: text;
}

.bg-243 {
    background-color: rgb(243, 243, 243);
}

.bg-111 {
    background-color: #111111;
}




.color-bf {
    color: #BFBFBF;
}



.w-30 {
    width: 30% !important;
}

.w-70 {
    width: 70% !important;
}


.img-alvo {
    width: 7em;
    height: auto;
}




@media (max-width: 1873px) {
    .column_3-effective {
        font-size: 1.7em !important;
    }
}

@media (max-width: 1757px) {
    .img-pudgy {
        width: 500px;
    }

    .img-infoPudgy {
        width: 500px;
    }

    .selected-projects div h1, .selected-projects h1 {
        font-size: 7em;
    }
}

@media (max-width: 1605px) {
    .column_3-strategize {
        font-size: 2em;
    }

    .column_3-effective {
        font-size: 1.5em !important;
    }
}

@media (max-width: 1428px) {
    .img-pudgy {
        width: 450px;
    }

    .img-infoPudgy {
        width: 450px;
    }

    .selected-projects div h1, .selected-projects h1 {
        font-size: 6em;
    }

    .selected-projects h1 {
        margin-top: -.2em;
    }

    .ul-info-pudgy li {
        font-size: 2em !important;
    }

    
    .column_3-we {
        font-size: 1.3em !important;
    }
    .column_3-strategize {
        font-size: 1.5em !important;
    }
    .column_3-effective {
        font-size: 1.3em !important;
    }

    .int-des-sol {
        font-size: 3em;
    }

    .our-clients {
        font-size: 4em;
    }
    .we-create {
        font-size: 1.5em;
    }

    .img-bolas {
        width: 1100px;
    }

}

@media (max-width: 1400px) {
    .power-visions {
        font-size: 6.9em;
    }

    
}


@media (max-width: 1288px) {
    .img-pudgy {
        width: 400px;
    }

    .img-infoPudgy {
        width: 400px;
    }

    .selected-projects div h1, .selected-projects h1 {
        font-size: 5em;
    }

    .selected-projects h1 {
        margin-top: -.2em;
    }

    .ul-info-pudgy li {
        font-size: 2em !important;
    }

    .we-create {
        font-size: 1.5em;
    }

    .img-bolas {
        width: 900px;
    }
}


@media (max-width: 1200px) {
    .we-transform {
        font-size: 5em;
    }
    
    .power-visions {
        font-size: 5em;
    }

    .magic {
        font-size: 5em;
    }

    .experiences {
        font-size: 5em;
    }

    .bg-red-blue-sm {
        background: linear-gradient(90deg, #ff0707 50%, rgba(214,62,156,1) 70%, rgba(20,124,240,1) 80%, #CB4787);
        color: transparent; 
        background-clip: text;
    }
    
    .bg-red-blue {
        background: linear-gradient(90deg, #ff0707 30%, rgba(214,62,156,1) 50%, rgba(20,124,240,1) 70%, #CB4787);
        color: transparent; 
        background-clip: text;
    }

    .ul-info-pudgy li {
        font-size: 1.7em !important;
    }

    .column_3-we {
        font-size: 1.5em !important;
    }

    .column_3-strategize {
        font-size: 1.8em;
    }

    .column_3-effective {
        font-size: 1.2em !important;
    }

    .int-des-sol {
        font-size: 4em;
    }
}


@media (max-width: 1161px) {

    .img-pudgy {
        width: 350px;
    }

    .img-infoPudgy {
        width: 350px;
    }

    .column_3-we {
        font-size: 1.1em !important;
    }
    .column_3-strategize {
        font-size: 1.3em !important;
    }
    .column_3-effective {
        font-size: 1em !important;
    }


    .lets_create {
        font-size: 6em;
    }
}